<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Julian's Ruby App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= stylesheet_link_tag "welcome" %>
        <h1 class="test">Welcome sdsa</h1>
    </head>
    <body>
    <p class="test">
        Hello everyone
    </p>
    </body>
</html>