<div class="container">
    <div class="jumbotron text-center">
        <h1>
            This is my header
        </h1>
        <p>
            Hello this should maybe someday be a jumbotron
        </p>
    </div>
    <div class="callout callout-primary">
        <h4>Primary Callout</h4>
        This is a primary callout.
    </div>
    <%= link_to "About me", 'about_me', role: "button", class: "btn btn-info"%>
    <button class="btn btn-success">Green button</button>

</div>